<div id="timeoutOverlay" style="display:none">
    <div id="timeoutOverlay-info">
        <h3 class="heading-large top_0 bottom_15">Your application will time out soon</h3>
        <p class="top_15 bottom_15">We will reset your application if you do not repond in <span id="countDown2" class="bold">5</span> <span class="bold">seconds</span>. We do this to keep your information secure.</p> 
        <p id="finalCountdown" class="bold" style="display:none">Your are about to be redirected.</p>
        <input class="button top_20 bottom_15" type="submit" value="Continue application" onclick="timeoutOff()">
    </div>
</div>

<div id="timeoutOverlay2" style="display:none">
    <div id="timeoutOverlay-info-2">
        <h3 class="heading-large top_0 bottom_15">Your application has timed out</h3>
        <p class="top_15 bottom_15">We have reset your applcication because you did not do anything for <span id="countDown1">10</span> seconds. We did this to keep your information secure.</p>        
        <input class="button top_20 bottom_15" type="submit" value="Start application again" onclick="timeoutOff2()">
    </div>
</div>
