// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';
@import 'patterns/task-list';

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

//
//
//
//
//
//
//
//
//
//
//
//
//
// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

// Spacings
.top_60 {
    margin-top: 60px;
}
.top_30 {
    margin-top: 30px;
}
.top_25 {
    margin-top: 25px;
}
.top_20 {
    margin-top: 20px;
}
.top_15 {
    margin-top: 15px;
}
.top_10 {
    margin-top: 10px;
}
.top_5 {
    margin-top: 5px;
}
@media (min-width: 641px)
{
    .top_0 {
        margin-top: 0px;
    }
}
@media (min-width: 0px) and (max-width: 640px)
{
    .top_0 {
        margin-top: 0px;
    }
}
.bottom_60 {
    margin-bottom: 60px;
}
.bottom_30 {
    margin-bottom: 30px;
}
.bottom_25 {
    margin-bottom: 25px;
}
.bottom_20 {
    margin-bottom: 20px;
}
.bottom_15 {
    margin-bottom: 15px;
}
.bottom_10 {
    margin-bottom: 10px;
}
.bottom_5 {
    margin-bottom: 5px;
}
.bottom_0 {
    margin-bottom: 0px;
}

// bold text
.bold {
    font-weight: bold;
}

// image width fix
.img-fix {
    max-width: 100%;
}

// hr spacing
.hr-60 {
    margin: 60px 0;
}

/* Character count pattern */
#character_count, #character_count_2, #character_count_3, #character_count_4, #character_count_5, #character_count_6, #character_count_7 {
    color: #6F777B;
    margin-top: 10px;
    text-align: right;
}





// Adding £ to form inputs
.input-icon {
    position: relative;
}

.input-icon > i {
    position: absolute;
    display: block;
    transform: translate(0, -50%);
    top: 54%;
    pointer-events: none;
    width: 30px;
    text-align: center;
    font-style: normal;
}

.input-icon > input {
    padding-left: 25px;
    padding-right: 0;
}





/* Fix for date of birth and date entry to display correctly with error validation */
.form-group-2 {
    float: left;
    width: 50px;
    margin-right: 20px;
    margin-bottom: 0;
    clear: none;
}





/* NOTIFICATION BANNERS PATTERN */
.notification-banner-turqoise {
    background-color: #28A197;
}
.notification-banner-nest {
    display: table;
    /*display: table;*/
}
.notification-banner {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    min-height: 40px;
    display: table-cell;
    vertical-align: left;
    padding: 25px 30px 25px 25px;
    
    padding-top: 30px;
}
.notification-banner div {
}
.notification-banner-icon {
    height: 30px;
    float:left;
    width: 20px;
    //display: none;
}
.notification-banner-text {
    vertical-align: left;
    margin-left: 45px;
}









/* OVERLAY */
#timeoutOverlay, #timeoutOverlay2 {
    position: fixed; /* Sit on top of the page content */
    //display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20000; /* Specify a stack order in case you're using a different order for other elements */
    //cursor: pointer; /* Add a pointer on hover */
}
#timeoutOverlay {
    background-color: rgba(255,255,255,0.5); /* Black background with opacity */
}
#timeoutOverlay2 {
    background-color: rgba(255,255,255,1); /* Black background with opacity */
}
#timeoutOverlay-info,#timeoutOverlay-info-2 {
    width:400px;
    background-color:white;
    padding:30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #0B0C0C;
}








