{% extends "layout-CPP.html" %}

{% block page_title %}
  Make a plea
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Make a plea
        <span class="heading-secondary">Also know as 'online plea' this design demo used GOV.UK prototype kit {{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}

      <p>
        <a href="map/start-page.html">Let's get started!</a>
      </p>


    </div>
  </div>
</main>

{% endblock %}