{% extends "layout-CPP.html" %}

{% block page_title %}
  Make a plea
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
            Make a plea
            <span class="heading-secondary">Also know as 'online plea' this design demo uses GOV.UK prototype kit {{releaseVersion}}</span>
            </h1>{{releaseVersion | log }}

            <p>To get the most out of this demo use the details below on the "Find your case" screen:</p>
            <p class="heading-medium top_30 bottom_10">Case or unique reference number</p>
            <p class="bottom_10 ">One of the following must be used:</p>
            <ul class="list list-bullet">
                <li>Transport for London: <span class="bold">TFL</span>, <span class="bold">TfL</span> or <span class="bold">tfl</span></li>
                <li>TV Licensing: <span class="bold">TVL</span></li>
                <li>Driver and Vehicle Licensing Agency: <span class="bold">DVLA</span> or <span class="bold">dvla</span></li>
            </ul>
            
            <p class="heading-medium top_30 bottom_10">Postcode</p>
            <ul class="list list-bullet">
                <li>any postcode can be used, however, for continuity use: <span class="bold">W1 7SX</span> or <span class="bold">W17SX</span></li>
                <li>to see the Welsh language questions in the not guilty flow: <span class="bold">LL48 6ER</span> or <span class="bold">LL486ER</span></li>
            </ul>
            
            <p class="heading-medium top_30 bottom_10">Timeout</p>
            <ul class="list list-bullet">
                <li>An overlay will be displayed after 60 seconds of inactivity</li>
                <li>Session will timeout after 90 seconds</li>
            </ul>
                    
            <p class="top_60"><a class="button button-start" href="map/start-page.html" role="button">Let's get started</a></p>

        </div>
    </div>
</main>

{% endblock %}