{% extends "layout-CPP.html" %}

{% block page_title %}
  Make a plea
{% endblock %}

{% block content %}

<script>
    window.onload = function() {
        
        var outgoingsGroup = document.getElementById("outgoingsGroup").innerText;
        if (outgoingsGroup == "No") {
            document.getElementById("outgoingsDetail").style.display = "none";
        }
        
        var homeTelephone = document.getElementById("homeTelephone").innerText;
        if (homeTelephone == "") {
            document.getElementById("homeTelephone").innerText = "No home telephone given";
        }
        
        var mobileNumber = document.getElementById("mobileNumber").innerText;
        if (mobileNumber == "") {
            document.getElementById("mobileNumber").innerText = "No mobile number given";
        }
        
        var mitigation = document.getElementById("mitigation").innerText;
        if (mitigation == "") {
            document.getElementById("mitigation").innerText = "No mitigation given";
        }
        
        var comeToCourt = document.getElementById("comeToCourt").innerText;
        if (comeToCourt == "No") {
            document.getElementById("interpreterRequiredGroup").style.display = "none";
            document.getElementById("interpreterLanguageGroup").style.display = "none";
        }
                
        var interpreterRequired = document.getElementById("interpreterRequired").innerText;
        if (interpreterRequired == "No") {
            document.getElementById("interpreterLanguageGroup").style.display = "none";
        }
        
        var employmentStatusGroup = document.getElementById("employmentStatus").innerText;
        if ((employmentStatusGroup == "Unemployed") || (employmentStatusGroup == "Other")) {
            document.getElementById("deductFromEarningsGroup").style.display = "none";
            document.getElementById("employerReference").style.display = "none";
            document.getElementById("employerName").style.display = "none";
            document.getElementById("employerAddress").style.display = "none";
            document.getElementById("employerTelephone").style.display = "none";
        }

        var claimingBenefitsGroup = document.getElementById("claimingBenefits").innerText;
        if (claimingBenefitsGroup == "No") {
            document.getElementById("deductFromBenefits").style.display = "none"; 
            document.getElementById("benefitsYourAreClaiming").style.display = "none"; 
        }
    }
        
</script>

<main id="content" role="main">
    
    {% include "includes/breadcrumb.html" %}

    <div class="grid-row">
        <div class="column-full">
            <h1 class="heading-xlarge">Check your answers</h1>
            
            <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
            <!--   * `cya-questions-short` for short questions -->
            <!--   * `cya-questions-long` for long questions -->
            <!--   * none for single group of q&a -->
            <dl class="govuk-check-your-answers cya-questions-short">
                <div>
                    <dt class="cya-question" style="border: none;">
                        <h2 class="heading-medium">Your details</h2>
                    </dt>
                    <dd class="cya-answer" style="border: none;">
                        &nbsp;
                    </dd>
                    <dd class="cya-change" style="border: none;">
                        <a href="/map/your-details">Change<span class="visually-hidden"> your details</span></a>
                    </dd>
                </div>
                
                <div>
                    <dt class="cya-question">
                        Name
                    </dt>
                    <dd class="cya-answer">
                        {{ data['defendant-first-name'] }} {{ data['defendant-last-name'] }}
                    </dd>
                    <dd class="cya-change"></dd>
                </div>

                <div>
                    <dt class="cya-question">
                        Address
                    </dt>
                    <dd class="cya-answer">
                        {{ data['defendant-address-line-1'] }}<br>
                        {{ data['defendant-address-city'] }}<br>
                        {{ data['defendant-address-postcode'] }}
                    </dd>
                    <dd class="cya-change"></dd>
                </div>

                <div>
                    <dt class="cya-question">
                        Home telephone
                    </dt>
                    <dd class="cya-answer" id="homeTelephone">
                        {{ data['home-telephone'] }}
                    </dd>
                    <dd class="cya-change"></dd>
                </div>

                <div>
                    <dt class="cya-question">
                        Mobile number
                    </dt>
                    <dd class="cya-answer" id="mobileNumber">
                        {{ data['mobile-number'] }}
                    </dd>
                    <dd class="cya-change"></dd>
                </div>

                <div>
                    <dt class="cya-question">
                    Email address
                    </dt>
                    <dd class="cya-answer">
                        {{ data['email-address'] }}
                    </dd>
                    <dd class="cya-change"></dd>
                </div>

                <div>
                    <dt class="cya-question">
                        Date of birth
                    </dt>
                    <dd class="cya-answer">
                        {{ data['dob-day'] }} &nbsp; {{ data['dob-month'] }} &nbsp; {{ data['dob-year'] }}
                    </dd>
                    <dd class="cya-change"></dd>
                </div>

                <div>
                    <dt class="cya-question">
                        National Insurance number
                    </dt>
                    <dd class="cya-answer">
                        {{ data['nin'] }}
                    </dd>
                    <dd class="cya-change"></dd>
                </div>
            </dl>

 
            
            
            
            
            <dl class="govuk-check-your-answers cya-questions-short">
                <div>
                    <dt class="cya-question" style="border: none;">
                        <h2 class="heading-medium">Your plea</h2>
                    </dt>
                    <dd class="cya-answer" style="border: none;">
                        &nbsp;
                    </dd>
                    <dd class="cya-change" style="border: none;">
                        <a href="/map/your-plea">Change<span class="visually-hidden"> your plea</span></a>
                    </dd>
                </div>
            </dl>
                
            <dl class="govuk-check-your-answers cya-questions-short">
                <div>
                    <dt class="cya-question">
                        Plea
                    </dt>
                    <dd class="cya-answer">
                        {{ data['how-do-you-plead-group'] }}
                    </dd>
                </div>

                <div>
                    <dt class="cya-question">
                        Coming to court
                    </dt>
                    <dd class="cya-answer" id="comeToCourt">
                        {{ data['do-you-want-to-come-to-court-group'] }}
                    </dd>
                </div>

                <div>
                    <dt class="cya-question">
                        information for magistrates
                    </dt>
                    <dd class="cya-answer" id="mitigation">
                        {{ data['mitigation'] }}{{ data['not-guilty-mitigation'] }}
                    </dd>
                </div>

                <div id="interpreterRequiredGroup">
                    <dt class="cya-question">
                        Do you need an interpreter in court?
                    </dt>
                    <dd class="cya-answer" id="interpreterRequired">
                        {{ data['interpreter-group'] }}
                    </dd>
                </div>

                <div id="interpreterLanguageGroup">
                    <dt class="cya-question">
                        Language
                    </dt>
                    <dd class="cya-answer" id="interpreterLanguage">
                        {{ data['interpeter-language'] }}
                    </dd>
                </div>
            </dl>

 
            
            
            
            
            
            
            
            
            
            <dl class="govuk-check-your-answers cya-questions-short">
                <div>
                    <dt class="cya-question" style="border: none;">
                        <h2 class="heading-medium">Your finances</h2>
                    </dt>
                    <dd class="cya-answer" style="border: none;">
                        &nbsp;
                    </dd>
                    <dd class="cya-change" style="border: none;">
                        <a href="/map/your-finances">Change<span class="visually-hidden"> your finances</span></a>
                    </dd>
                </div>
            </dl>
                
            <dl class="govuk-check-your-answers cya-questions-short">
                <div>
                    <dt class="cya-question">
                        Income (after tax)
                    </dt>
                    <dd class="cya-answer">
                        £{{ data['average-income'] }} &nbsp; {{ data['income-freqency-group'] }}
                    </dd>
                </div>

                <div>
                    <dt class="cya-question">
                        Employment status
                    </dt>
                    <dd class="cya-answer">
                        <span id="employmentStatus">{{ data['employment-status-group'] }}</span> &nbsp; {{ data['other-income-details'] }}
                    </dd>
                </div>

                

                <div>
                    <dt class="cya-question">
                        Are you claiming any benefits?
                    </dt>
                    <dd class="cya-answer" id="claimingBenefits">
                        {{ data['claiming-benefits-group'] }}
                    </dd>
                </div>

                <div id="deductFromBenefits">
                    <dt class="cya-question">
                        If you need to pay a penalty, would you like us to deduct it from your benefits?
                    </dt>
                    <dd class="cya-answer">
                        {{ data['deductions-from-benefits-group'] }}
                    </dd>
                </div>

                <div id="benefitsYourAreClaiming">
                    <dt class="cya-question">
                        Benefits you are claiming
                    </dt>
                    <dd class="cya-answer">
                        {{ data['claiming-benefits-details'] }}
                    </dd>
                </div>
                
                <div id="deductFromEarningsGroup">
                    <dt class="cya-question">
                        Deduct from earnings?
                    </dt>
                    <dd class="cya-answer">
                        {{ data['deductions-from-earnings-group'] }}
                    </dd>
                </div>

                <div id="employerReference">
                    <dt class="cya-question">
                        Employee reference
                    </dt>
                    <dd class="cya-answer">
                        {{ data['employee-reference'] }}
                    </dd>
                </div>

                <div id="employerName">
                    <dt class="cya-question">
                        Employer's name
                    </dt>
                    <dd class="cya-answer">
                        {{ data['employer-name'] }}
                    </dd>
                </div>

                <div id="employerAddress">
                    <dt class="cya-question">
                        Employer's address
                    </dt>
                    <dd class="cya-answer">
                        {{ data['employer-address-line-1'] }}<br>
                        {{ data['employer-address-line-2'] }}<br>
                        {{ data['employer-city'] }}<br>
                        {{ data['employer-county'] }}<br>
                        {{ data['employer-postcode'] }}<br>
                    </dd>
                </div>

                <div id="employerTelephone">
                    <dt class="cya-question">
                        Employer's telephone
                    </dt>
                    <dd class="cya-answer">
                        {{ data['employer-telephone'] }}
                    </dd>
                </div>
                                    
            </dl>
 
            
 
            
            
            <dl class="govuk-check-your-answers cya-questions-short">
                <div>
                    <dt class="cya-question" style="border: none;">
                        <h2 class="heading-medium">Monthly outgoings</h2>
                    </dt>
                    <dd class="cya-answer" style="border: none;">
                        &nbsp;
                    </dd>
                    <dd class="cya-change" style="border: none;">
                        <a href="/map/your-monthly-outgoings">Change<span class="visually-hidden"> monthly outgoings</span></a>
                    </dd>
                </div>
            </dl>
            
            <dl class="govuk-check-your-answers cya-questions-short">
                <div>
                    <dt class="cya-question">
                        Would you like to give details of your personal bills?
                    </dt>
                    <dd class="cya-answer" id="outgoingsGroup">
                        {{ data['outgoings-group'] }}
                    </dd>
                </div>

                <div class="outgoings-detail" id="outgoingsDetail">
                    <dt class="cya-question">
                        Monthly amount
                    </dt>
                    <dd class="cya-answer">
                        {{ data['outgoings-total'] }} {{ data['other-expenses-details'] }}
                    </dd>
                </div>
            </dl>

            
            
            
            <form class="form" action="" method="post">
                <div class="form-group">
                    <p class="top_30"><input class="button" type="submit" value="Confirm and continue"></p>
                    <p>{% include "includes/back_link.html" %}</p>
                </div>
            </form>

        </div>
        
        
    </div>
</main>

{% endblock %}