{% extends "layout-CPP.html" %}

{% block page_title %}
  Make a plea
{% endblock %}

{% block content %}

<style>
</style>

<main id="content" role="main">
    
    <div class="grid-row">
        <div class="column-two-thirds">
            
            <form class="form" action="" method="post">
                
                <div class="top_30" style="text-align: center">
                    
                    <!-- NOTIFICATION BANNER PATTERN - TURQOISE + TICK ICON -->
                    <div class="notification-banner-nest notification-banner-turqoise bottom_15">
                        <div class="notification-banner">
                            <div class="notification-banner-icon">
                                <object data="/public/images/icons/tick-icon-white.svg" type="image/svg+xml"></object>
                            </div>
                            <div class="notification-banner-text">Your feedback has been submitted</div>
                        </div>
                    </div>
                    
                </div>

                <div class="form-group">
                    <p class="top_30"><input class="button" type="submit" value="Close"></p>
                </div>
                
            </form>

            {% include "includes/welsh.html" %}

        </div>
                
    </div>
</main>

{% endblock %}