{% extends "layout-CPP.html" %}

{% block page_title %}
  Make a plea
{% endblock %}

{% block content %}

<script>

    }
    
</script>

{% include "includes/timeout-overlay.html" %}

<main id="content" role="main">
    
    {% include "includes/breadcrumb.html" %}
    
    <div id="casePostcode" style="display:none">{{data['case-post-code']}}</div>

    <div class="grid-row">
        <div class="column-two-thirds">
            
            <form class="form" action="" method="post">

                <h1 class="heading-xlarge">Attending court</h1>

                <div class="panel panel-border-wide bottom_60">
                    <p>Provide information for magistrates ahead of your court hearing.</p>
                </div>
                
                <!--<p class="heading-medium">Attending court</p>-->

                <!-- IF A WELSH POSTCODE -->
                <div class="form-group bottom_30" id="welshLanguage-2">
                    <!--<fieldset class="inline" data-required data-error="You must tell us if you wish to speak in Welsh in court">-->
                    <fieldset class="inline">
                        <legend class="heading-medium bottom_15">Do you wish to speak Welsh at your court hearing?</legend>
                        <div class="multiple-choice">
                            <input id="welsh-1" type="radio" name="welsh-group" value="Yes" {{ checked('welsh-group','Yes') }}>
                            <label for="welsh-1">Yes</label>
                        </div>

                        <div class="multiple-choice">
                            <input id="welsh-2" type="radio" name="welsh-group" value="No" {{ checked('welsh-group','No') }}>
                            <label for="welsh-2">No</label>
                        </div>
                    </fieldset>
                </div>
                
                 <div class="form-group">
                    <fieldset class="inline">
                        <div class="js-hidden top_15" id="interpreter-required">
                            <div class="panel panel-border-wide top_15">
                                <p class="bottom_5">Which language?</p>
                                <p class="form-hint bottom_5">You can include sign language</p>
                                <input class="form-control" id="interpeter-language" type="text" name="interpeter-language" value="{{ data['interpeter-language'] }}">
                            </div>
                        </div>
                     </fieldset>
                </div>

                <div class="form-group">
                    <p class="top_30"><input class="button" type="submit" value="Continue"></p>
                    <p>{% include "includes/back_link.html" %}</p>
                </div>
                
            </form>

            <!--{% include "includes/welsh.html" %}-->

        </div>
        
        <div class="column-third">
            {% include "includes/map/help-and-advice-header.html" %}
            {% include "includes/map/help-and-advice-2.html" %}
            {% include "includes/map/help-and-advice-3.html" %}
        </div>
        
    </div>
</main>

{% endblock %}