{% extends "layout-CPP.html" %}

{% block page_title %}
  Make a plea
{% endblock %}

{% block content %}

<script>

    window.onload = function() {
        // Check for a Welsh postcode
        var casePostcode = document.getElementById("casePostcode").innerHTML;

        if ((casePostcode == "LL48 6ER") || (casePostCode == "LL486ER")) {
            document.getElementById('englishLanguage').style.display = "none";
            document.getElementById('welshLanguage-2').style.display = "block";
            document.getElementById('welshLanguage').style.display = "block";
        } else {
            document.getElementById('englishLanguage').style.display = "block";
            document.getElementById('welshLanguage').style.display = "none";
            document.getElementById('welshLanguage-2').style.display = "none";
        }

    }
    
</script>

{% include "includes/timeout-overlay.html" %}

<main id="content" role="main">
    
    {% include "includes/breadcrumb.html" %}
    
    <div id="casePostcode" style="display:none">{{data['case-post-code']}}</div>

    <div class="grid-row">
        <div class="column-two-thirds">
            
            <form class="form" action="" method="post">

                <h1 class="heading-xlarge">Not guilty plea</h1>
                <p class="bottom_30">Provide information for magistrates ahead of your court hearing.</p>

                <div class="form-group bottom_15">
                    <fieldset class="inline top_0" data-required data-error="Tell us why you believe you are not guilty">
                        <label class="heading-medium bold bottom_10" for="textarea" style="">Why do you believe you are not guilty?</label>
                        <textarea class="form-control form-control-3-4 top_10" name="not-guilty-mitigation" id="not-guilty-mitigation" rows="15" style="width:100%">{{ data['not-guilty-mitigation'] }}</textarea>
                        <div class="font-xsmall form-control-3-4" style="width:100%" id="character_count"></div>
                    </fieldset>
                </div>
                
                <div class="form-group">
                    <p class="top_15"><input class="button" type="submit" value="Continue"></p>
                    <p>{% include "includes/back_link.html" %}</p>
                </div>
                
            </form>

            {% include "includes/welsh.html" %}

        </div>
        
        <div class="column-third">
            {% include "includes/map/help-and-advice-header.html" %}
            {% include "includes/map/help-and-advice-2.html" %}
            {% include "includes/map/help-and-advice-3.html" %}
        </div>
        
    </div>
</main>

{% endblock %}