{% extends "layout-CPP.html" %}

{% block page_title %}
  Make a plea
{% endblock %}

{% block content %}

<script>

    window.onload = function() {
        // Check for a Welsh postcode
        var casePostcode = document.getElementById("casePostcode").innerHTML;

        if ((casePostcode == "LL48 6ER") || (casePostCode == "LL486ER")) {
            document.getElementById('englishLanguage').style.display = "none";
            document.getElementById('welshLanguage-2').style.display = "block";
            document.getElementById('welshLanguage').style.display = "block";
        } else {
            document.getElementById('englishLanguage').style.display = "block";
            document.getElementById('welshLanguage').style.display = "none";
            document.getElementById('welshLanguage-2').style.display = "none";
        }

    }
    
</script>

{% include "includes/timeout-overlay.html" %}

<main id="content" role="main">
    
    {% include "includes/breadcrumb.html" %}
    
    <div id="casePostcode" style="display:none">{{data['case-post-code']}}</div>

    <div class="grid-row">
        <div class="column-two-thirds">
            
            <form class="form" action="" method="post">

                <h1 class="heading-xlarge">Your witness</h1>

                <div class="panel panel-border-wide bottom_60">
                    <p>Provide information for magistrates ahead of your court hearing.</p>
                </div>

                <!--<p class="heading-medium">Your witness</p>-->

                <div class="form-group bottom_0">
                    <fieldset class="inline" data-required data-error="You must tell us if you want to call a defence witness">
                        <legend class="heading-medium">Do you want to bring your own witness?</legend>
                        <p class="form-hint bottom_5">Someone who can give evidence in court supporting your case</p>
                        
                        <div class="multiple-choice"  data-target="witness-2-required">
                            <input id="defence-witness-1" type="radio" name="witness-2-group" value="Yes" {{ checked('witness-2-group','Yes') }}>
                            <label for="defence-witness-1">Yes</label>
                        </div>

                        <div class="multiple-choice">
                            <input id="defence-witness-2" type="radio" name="witness-2-group" value="No" {{ checked('witness-2-group','No') }}>
                            <label for="defence-witness-2">No</label>
                        </div>
                    </fieldset>
                </div>
                    
                <div class="form-group">
                    <fieldset class="inline">
                        <div class="js-hidden top_15" id="witness-2-required">
                            <div class="panel panel-border-wide top_15">
                                <p class="bottom_5">Enter the name and address of your witness and their age and date of birth if known</p>
                                <textarea class="form-control form-control-3-4" name="witness-2-details" id="witness-2-details" rows="5">{{ data['witness-2-details'] }}</textarea>
                                <div class="font-xsmall form-control-3-4" id="character_count_3"></div>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="form-group">
                    <p class="top_30"><input class="button" type="submit" value="Continue"></p>
                    <p>{% include "includes/back_link.html" %}</p>
                </div>
                
            </form>

            <!--{% include "includes/welsh.html" %}-->

        </div>
        
        <div class="column-third">
            {% include "includes/map/help-and-advice-header.html" %}
            {% include "includes/map/help-and-advice-2.html" %}
            {% include "includes/map/help-and-advice-3.html" %}
        </div>
        
    </div>
</main>

{% endblock %}