{% extends "layout-CPP.html" %}

{% block page_title %}
  Make a plea
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/breadcrumb.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">Your income</h1>
            
            <form class="form" action="" method="post">
                
                <div class="form-group">
                    
                    <fieldset>
                        <legend>
                            <p class="bold">What is the frequency of your income?</p>
                        </legend>
                        <div class="multiple-choice">
                            <input id="income-freqency-1" type="radio" name="income-freqency-group" value="Weekly">
                            <label for="income-freqency-1">Weekly</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="income-freqency-2" type="radio" name="income-freqency-group" value="Fortnightly">
                            <label for="income-freqency-2">Fortnightly</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="income-freqency-3" type="radio" name="income-freqency-group" value="Monthly">
                            <label for="income-freqency-3">Monthly</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="income-freqency-4" type="radio" name="income-freqency-group" value="Annual">
                            <label for="income-freqency-4">Annual</label>
                        </div>
                    </fieldset>
                    
                    <label class="form-label bold top_30" for="full-name-f1">Your average income (after tax)</label>
                    <p class="form-hint bottom_0">Include earnings, pension, benefits and any other income</p>
                    <div class="input-icon">
                        <i>£</i>
                        <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
                    </div>

                    <fieldset>
                        <legend>
                            <p class="bold top_30">Your employment status</p>
                        </legend>
                        <div class="multiple-choice">
                            <input id="employment-status-1" type="radio" name="employment-status-group" value="Employed">
                            <label for="employment-status-1">Employed (full or part-time)</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="employment-status-2" type="radio" name="employment-status-group" value="Self-employed">
                            <label for="employment-status-2">Self-employed</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="employment-status-3" type="radio" name="employment-status-group" value="Unemployed">
                            <label for="employment-status-3">Unemployed</label>
                        </div>
                        <div class="multiple-choice"  data-target="other-income">
                            <input id="employment-status-4" type="radio" name="employment-status-group" value="Other">
                            <label for="employment-status-4">Other (for example, retired, student)</label>
                        </div>
                    </fieldset>
                    <div class="js-hidden top_15" id="other-income">
                        <div class="panel panel-border-wide top_15">
                            <p class="bottom_5">Enter details (optional)</p>
                            <textarea class="form-control form-control-3-4" name="other-income-details" id="claiming-benefits-details" rows="1"></textarea>
                        </div>
                    </div>

                    <fieldset class="inline">
                        <legend>
                            <h3 class="heading-small top_30">Are you claiming any beneftis?</h3>
                            <p class="form-hint">If you only get Child Benefit, answer 'No'</p>
                        </legend>
                        <div class="multiple-choice"  data-target="are-you-claimiing-benefits">
                            <input id="claiming-benefits-1" type="radio" name="claiming-benefits-group" value="Yes">
                            <label for="claiming-benefits-1">Yes</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="claiming-benefits-2" type="radio" name="claiming-benefits-group" value="No">
                            <label for="claiming-benefits-2">No</label>
                        </div>
                    </fieldset>
                    <div class="js-hidden top_15" id="are-you-claimiing-benefits">
                        <div class="panel panel-border-wide top_15">
                            <p class="bottom_5">Which benefits are you claiming?</p>
                            <textarea class="form-control form-control-3-4" name="claiming-benefits-details" id="claiming-benefits-details" rows="5"></textarea>
                            <div class="font-xsmall form-control-3-4" id="character_count_5"></div>
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <p class="top_30"><input class="button" type="submit" value="Continue"></p>
                    <p>{% include "includes/back_link.html" %}</p>
                </div>
                
            </form>

        </div>
        
        <div class="column-third">
            {% include "includes/map/help-and-advice-header.html" %}
            {% include "includes/map/help-and-advice-3.html" %}
        </div>
        
    </div>
</main>

{% endblock %}