{% extends "layout-CPP.html" %}

{% block page_title %}
  Make a plea
{% endblock %}

{% block content %}

{% include "includes/timeout-overlay.html" %}

<main id="content" role="main">
    
    {% include "includes/breadcrumb.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            
            <form class="form" action="" method="post">
                
                <h1 class="heading-xlarge">Your details</h1>
            
                <h2 class="heading-medium">Check your name and address</h2>

                <div class="panel panel-border-wide">
                    <p class="bold bottom_0">{{ data['defendant-first-name'] }} {{ data['defendant-last-name'] }}<!--Sam Smith--></p>
                    <p class="top_0 bottom_0">{{ data['defendant-address-line-1'] }}<!--38A Baker Street--></p>
                    <p class="top_0 bottom_0">{{ data['defendant-address-line-2'] }}<!--address line 2--></p>
                    <p class="top_0 bottom_0">{{ data['defendant-address-city'] }}<!--London--></p>
                    <p class="top_0 bottom_0">{{ data['defendant-address-county'] }}<!--county--></p>
                    <p class="top_0">{{ data['defendant-address-postcode'] }}<!--W1 7SX--></p>
                </div>

                <!-- Are these details correct? -->
                <div class="form-group bottom_15">
                    <fieldset class="inline" data-required data-error="You must tell us if the name and address on the notice we sent to you is correct">
                        <legend class="heading-small">Are these details correct?</legend>
                        <div class="multiple-choice">
                            <input id="name-address-1" type="radio" name="name-address-group" value="Yes" {{ checked('name-address-group','Yes') }}>
                            <label for="name-address-1">Yes</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="name-address-2" type="radio" name="name-address-group" value="No" {{ checked('name-address-group','No') }}>
                            <label for="name-address-2">No</label>
                        </div>
                    </fieldset>
                </div>
                                
                <div class="form-group">
                    <p class="top_30"><input class="button" type="submit" value="Continue"></p>
                    <p>{% include "includes/back_link.html" %}</p>
                </div>
                
            </form>
            
            {% include "includes/welsh.html" %}

        </div>
        
        <div class="column-third">
            {% include "includes/map/help-and-advice-header.html" %}
            {% include "includes/map/help-and-advice-3.html" %}
        </div>
        
    </div>
</main>

{% endblock %}