{% extends "layout-CPP.html" %}

{% block page_title %}
  Make a plea
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/breadcrumb.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">Your employment</h1>
            
            <form class="form" action="" method="post">
                
                <div class="form-group">
                
                    <label class="form-label bold" for="employee-reference">Employee reference (optional)</label>
                    <span class="form-hint">Also know as employee number or payroll reference - this shoudl be on your payslip</span>
                    <input class="form-control" id="employee-reference" type="text" name="employee-reference">
                
                    <label class="form-label bold top_15" for="employer-address">Employer name</label>
                    <input class="form-control" id="employer-name" type="text" name="employer-name">

                    <p class="heading-small top_15 bottom_15">Employer's Address</p>

                    <details open>
                        <summary><span class="summary">Which address should I include?</span></summary>
                        <div class="panel panel-border-narrow" style="margin-bottom: 15px">
                            <p>Enter the head office or where your payroll is managed</p>
                        </div>
                    </details>
                    
                    <label class="form-label bold top_15" for="employer-address">Address</label>
                    <input class="form-control" id="employer-address-line-1" type="text" name="employer-address-line-1">
                    <input class="form-control" id="employer-address-line-2" type="text" name="employer-address-line-2">
                    
                    <label class="form-label bold top_15" for="employer-address">Town or city</label>
                    <input class="form-control" id="employer-city" type="text" name="employer-city">
                
                    <label class="form-label bold top_15" for="employer-address">County (optional)</label>
                    <input class="form-control" id="employer-county" type="text" name="employer-county">
                
                    <label class="form-label bold top_15" for="employer-address">Postcode</label>
                    <input class="form-control" id="employer-postcode" type="text" name="employer-postcode">
                
                    <label class="form-label bold top_15" for="employer-address">Employer telephone (optional)</label>
                    <input class="form-control" id="employer-telephone" type="text" name="employer-telephone">
                
                </div>

                <div class="form-group">
                    <p class="top_30"><input class="button" type="submit" value="Continue"></p>
                    <p>{% include "includes/back_link.html" %}</p>
                </div>
                
            </form>

        </div>
        
        <div class="column-third">
            {% include "includes/map/help-and-advice-header.html" %}
            {% include "includes/map/help-and-advice-3.html" %}
        </div>
        
    </div>
</main>

{% endblock %}