{% extends "layout-CPP.html" %}

{% block page_title %}
  Make a plea
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/breadcrumb.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">Your monthly outgoings</h1>
            
            <p class="heading-medium">What are your monthly bills for the following?</p>
            
            <form class="form" action="" method="post">
                
                <div class="form-group">
                
                    <label class="form-label bold" for="accommodation">Accommodation</label>
                    <span class="form-hint">For example, rent, mortgage or lodgings</span>
                    <div class="input-icon">
                        <i>£</i>
                        <input class="form-control" id="accommodation" type="text" name="accommodation">
                    </div>

                    <label class="form-label bold top_15" for="council-tax">Council tax</label>
                    <div class="input-icon">
                        <i>£</i>
                        <input class="form-control" id="council-tax" type="text" name="council-tax">
                    </div>

                    <label class="form-label bold top_15" for="household-bills">Household bills</label>
                    <span class="form-hint">For example, gas, electricity, water, insurance</span>
                    <div class="input-icon">
                        <i>£</i>
                        <input class="form-control" id="household-bills" type="text" name="household-bills">
                    </div>

                    <label class="form-label bold top_15" for="travel-expense">Travel expenses</label>
                    <span class="form-hint">For example, fuel, car, public transport</span>
                    <div class="input-icon">
                        <i>£</i>
                        <input class="form-control" id="travel-expense" type="text" name="travel-expense">
                    </div>

                    <label class="form-label bold top_15" for="child-maintenance">Child maintenance</label>
                    <div class="input-icon">
                        <i>£</i>
                        <input class="form-control" id="child-maintenance" type="text" name="child-maintenance">
                    </div>
  
                    <fieldset class="inline">
                        <legend>
                            <h3 class="heading-small">Any other significant expenses not listed?</h3>
                        </legend>
                        <div class="multiple-choice"  data-target="other-expenses-detail">
                            <input id="other-expenses-1" type="radio" name="other-expenses-group" value="Yes">
                            <label for="other-expenses-1">Yes</label>
                        </div>
                        
                        <div class="multiple-choice">
                            <input id="other-expenses-2" type="radio" name="other-expenses-group" value="No">
                            <label for="other-expenses-2">No</label>
                        </div>
                    </fieldset>
                    
                    <div class="js-hidden top_15" id="other-expenses-detail">
                        <div class="panel panel-border-wide top_15">
                            <p class="bottom_5 form-hint">List any other outgoings or information you believe the court should knwo about</p>
                            <textarea class="form-control form-control-3-4" name="other-expenses-details" id="other-expenses-details" rows="5"></textarea>
                            <div class="font-xsmall form-control-3-4" id="character_count_6"></div>
                            <label class="form-label bold top_15" for="other-expenses-amount">Amount of other significant expenses</label>
                            <div class="input-icon">
                                <i>£</i>
                                <input class="form-control" id="other-expenses-amount" type="text" name="other-expenses-amount">
                            </div>
                        </div>
                    </div>

               </div>
                
                <div class="form-group">
                    <p class="top_30"><input class="button" type="submit" value="Continue"></p>
                    <p>{% include "includes/back_link.html" %}</p>
                </div>
                
            </form>

        </div>
        
        <div class="column-third">
            {% include "includes/map/help-and-advice-header.html" %}
            {% include "includes/map/help-and-advice-3.html" %}
        </div>
        
    </div>
</main>

{% endblock %}