{% extends "layout-CPP.html" %}

{% block page_title %}
  Make a plea
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/breadcrumb.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">Your details</h1>
            
            <h2 class="heading-medium">Check your name and address</h2>
            
            <div class="panel panel-border-wide">
                <p class="bold bottom_0">{{ data['defendant-first-name'] }} {{ data['defendant-last-name'] }}<!--Sam Smith--></p>
                <p class="top_0 bottom_0">{{ data['defendant-address-line-1'] }}<!--38A Baker Street--></p>
                <p class="top_0 bottom_0">{{ data['defendant-address-city'] }}<!--London--></p>
                <p class="top_0">{{ data['defendant-address-postcode'] }}<!--W1 7SX--></p>
            </div>

            <form class="form" action="" method="post">

                <div class="form-group">

                    <fieldset class="inline">
                        <legend>
                            <h3 class="heading-small">Are these details correct?</h3>
                        </legend>
                        <div class="multiple-choice">
                            <input id="name-address-1" type="radio" name="name-address-group" value="Yes" {{ checked('name-address-group','Yes') }}>
                            <label for="name-address-1">Yes</label>
                        </div>
                        <div class="multiple-choice" data-target="details-not-correct">
                            <input id="name-address-2" type="radio" name="name-address-group" value="No" {{ checked('name-address-group','No') }}>
                            <label for="name-address-2">No</label>
                        </div>
                    </fieldset>

                    <div class="js-hidden" id="details-not-correct">
                        <div class="panel panel-border-wide top_15">
                            <p class="bold">Changes to name</p>

                            <label class="form-label" for="new-defendant-first-name">First name</label>
                            <input class="form-control" id="new-defendant-first-name" type="text" name="new-defendant-first-name" value="{{ data['new-defendant-first-name'] }}">

                            <label class="form-label top_15" for="new-defendant-last-name">Last name</label>
                            <input class="form-control" id="new-defendant-last-name" type="text" name="new-defendant-last-name" value="{{ data['new-defendant-last-name'] }}">
                        </div>

                        <div class="panel panel-border-wide top_15">
                            <p class="bold">Changes to address</p>

                            <label class="form-label" for="new-defendant-address-line">Address</label>
                            <input class="form-control" id="new-defendant-address-line-1" type="text" name="new-defendant-address-line-1">
                            <input class="form-control" id="new-defendant-address-line-2" type="text" name="new-defendant-address-line-2">

                            <label class="form-label top_15" for="new-defendant-address-city">Townn or city</label>
                            <input class="form-control" id="new-defendant-address-city" type="text" name="new-defendant-address-city">

                            <label class="form-label top_15" for="new-defendant-address-county">County (optional)</label>
                            <input class="form-control" id="new-defendant-address-county" type="text" name="new-defendant-address-county">

                            <label class="form-label top_15" for="new-defendant-address-postcode">Postcode</label>
                            <input class="form-control" id="new-defendant-address-postcode" type="text" name="new-defendant-address-postcode">

                        </div>
                    </div>

                    <h2 class="heading-medium">Enter other details</h2>

                    <p class="bold bottom_5">Contact numbers</p>
                    <p class="form-hint bottom_10">The court may need to contact you so they can resolve your case quickly - enter at least one number</p>
                    
                    <label class="form-label top_10" for="home-telephone">Home telephone (optional)</label>
                    <input class="form-control" id="home-telephone" type="tel" name="home-telephone" value="{{ data['home-telephone'] }}">

                    <label class="form-label top_15" for="mobile-number">Mobile number (optional)</label>
                    <input class="form-control" id="mobile-number" type="tel" name="mobile-number" value="{{ data['mobile-number'] }}">
                    
                    <label class="form-label bold top_30 bottom_5" for="email-address">Email address</label>
                    <p class="form-hint bottom_5">We will automatically email you confirmation when the plea is submitted</p>
                    <input class="form-control" id="email-address" type="email" name="email-address" value="{{ data['email-address'] }}">

                    <fieldset>
                        <legend>
                            <span class="form-label-bold top_30">
                                Date of birth
                            </span>
                            <span class="form-hint">For example, 31 3 1980</span>
                        </legend>
                        <div class="form-date">
                            <div class="form-group form-group-day">
                                <label class="form-label" for="dob-day">Day</label>
                                <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31" value="{{ data['dob-day'] }}">
                            </div>
                            <div class="form-group form-group-month">
                                <label class="form-label" for="dob-month">Month</label>
                                <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12" value="{{ data['dob-month'] }}">
                            </div>
                            <div class="form-group form-group-year">
                                <label class="form-label" for="dob-year">Year</label>
                                <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2018" value="{{ data['dob-year'] }}">
                            </div>
                        </div>
                    </fieldset>
                    
                    <label class="form-label bold top_30 bottom_5" for="nin">National Insurance number</label>
                    <p class="form-hint bottom_5">It's on your National Insurance card, benefit letter, payslip or P60 - for example, 'AB 12 34 56 C'</p>
                    <input class="form-control" id="nin" type="text" name="nin" value="{{ data['nin'] }}">


                    
                    
                    
                    

                </div>

                <div class="form-group">
                    <p class="top_30"><input class="button" type="submit" value="Continue"></p>
                    <p>{% include "includes/back_link.html" %}</p>
                </div>
                
            </form>

        </div>
        
        <div class="column-third">
            {% include "includes/map/help-and-advice-header.html" %}
            {% include "includes/map/help-and-advice-3.html" %}
        </div>
        
    </div>
</main>

{% endblock %}